.app-container {
  max-width: 1140px;
  padding: 0px 80px;
  margin: auto;
  background-color: #f7f7f7;
}

.main-img {
  background-image: url('http://res.cloudinary.com/djyzqmji3/image/upload/c_scale,h_569,w_1152/v1506291888/bowl-1850039_1920_uajhnb.jpg');
  height: 380px;
  display: flex;
  // justify-content: flex-end;
  margin-bottom: 60px;
}

.search-form {
  background-color: white;
  margin: 30px;
  height: 130px;
  width: 600px;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 275px;
  margin-bottom: 10px;
}

.search-form h2 {
  font-family: helvetica;
  font-weight: 400;
  font-size: 24px;
  margin-left: 20px;
}

.search-input {
  margin-left: 20px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;

}

.search-button {
  padding: 0px 15px;
  height: 40px;
  background-color: #DA3743;
  border: 0px;
  color: white;
  font-weight: 400;
  font-family: helvetica;
}

.search-button input:hover {
  background-color: #b8222d;
}

.restaurant-index-item {
  display: flex;
  margin-bottom: 10px;
}

.restaurant-info {
  font-family: helvetica;
  margin-left: 10px;
}

.restaurant-info h2 {
  font-size: 22px;
  font-weight: bold;

}
