.main-container {
  max-width: 1140px;
  padding: 0px 80px;
  margin: auto;
  background-color: #f7f7f7;
}

.main-img {
  background-image: url('http://res.cloudinary.com/djyzqmji3/image/upload/c_scale,h_569,w_1152/v1506291888/bowl-1850039_1920_uajhnb.jpg');
  height: 380px;
  display: flex;
  // justify-content: flex-end;
  margin-bottom: 60px;
}

.search-form {
  background-color: white;
  margin: 30px;
  height: 130px;
  width: 800px;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 275px;
  margin-bottom: 10px;
}

.search-bar {
    display: flex;
}

.search-form h2 {
  font-family: helvetica;
  font-weight: 400;
  font-size: 24px;
  margin-left: 20px;
}

.calendar-style {
  margin-left: 20px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  width: 170px;
  color: grey;
}

.search-input {
  margin-left: 2px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;

}

.search-button {
  padding: 0px 15px;
  height: 40px;
  background-color: #DA3743;
  border: 0px;
  color: white;
  font-weight: 400;
  font-family: helvetica;
  cursor: pointer;
}

.search-button :hover {
  background-color: #b8222d;
}

.restaurant-index {
  border: 1px solid grey;
  margin-top: 70px;
}

.restaurant-index-item {
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;
}

.restaurant-profile-image {
  border-radius: 8px;
  height: 220px;
  width: 220px;
}

.restaurant-info {
  font-family: helvetica;
  font-size: 15px;
  margin-left: 10px;
  max-width: 600px;
  line-height: 1.2;
}

.restaurant-info h2 {
  font-size: 22px;
  font-weight: bold;
}

.restaurant-info h3 {
  font-weight: bold;
  margin-bottom: 4px;
}
.restaurant-info hr {
  width: 600px;
}

.star-rating {
  color: gold;
}
