.restaurant-detail-body {
  max-width: 1140px;
  margin: auto;
}

.banner-detail {
  background-image: url('http://res.cloudinary.com/djyzqmji3/image/upload/c_crop,h_220,w_2000/v1506382198/banner_2000x300_mg6p70.png');
  display: flex;
  height: 250px;
  margin-bottom: 80px;
  width: inherit;
}

.banner-detail h2 {
  margin-left: 240px;
  font-size: 35px;
  font-family: helvetica;
  margin-top: -210px;
  color: white;
  font-weight: 200;
  width: 600px
}

.restaurant-highlights {
  margin-left: 245px;
  font-size: 15px;
  font-family: helvetica;
  margin-top: -10px;
  color: white;
  line-height: 1.2;
  font-weight: 200;
}

.restaurant-profile-position {
  justify-content: flex-start;
  position: relative;
  top: 50px;
  margin: 30px;
}

.reservation-form {
  position: relative;
  bottom: 85px;
  left: 500px;
  background-color: white;
  height: 130px;
  width: 450px;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.reservation-form p {
  font-family: helvetica;
  font-weight: 400;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 2px;
}

.reservation-search-input {
  margin-left: 2px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  width: 70px;
}

.body-inner {

}

.restaurant-description {
  border: 1px solid grey;
  padding: 30px;
  margin-bottom: 50px;
  font-family: helvetica;
  width: 920px;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.restaurant-description  h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
