.upcoming-reservations {
  font-size: 30px;
  font-weight: bold;;
  padding-top: 40px;
}

.reservation-message {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.reservation-message h2{
  font-size: 20px;
  color: green;
  font-weight: bold;
  position: relative;
  top: 90px;
  left: 120px;
}
